.home-container {
    background-image: url('https://drive.google.com/uc?export=view&id=1MUeVFweefIe9BkREjtoH9jhg2rt_YwxY');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}